body {
  font-family: -apple-system, sans-serif;
  background: white;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 26px;
}

button {
  width: 100%;
  padding: 20px;
  margin: 10px 0;
  font-size: 20px;
  border-radius: 14px;
  border: none;
  background: #005ea8;
  color: white;
}

.disclaimer {
  font-size: 12px;
  margin-top: 30px;
  color: #555;
}
